<link rel='stylesheet' href='/stylesheets/navigation.css' />
<nav id="topMenu">
  <button class="topMenuButton"><a href="/">Home</a>
  </button>
  <button class="topMenuButton"><a href="/pb">P&Bs</a>
  </button>
  <button class="topMenuButton"><a href="/map">Map</a>
  </button>
  <button class="topMenuButton"><a href="/map">Data</a>
  </button>
</nav>