<link rel="stylesheet" href= "/stylesheets/navigation.css">
<nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" title="Navigation Menu" data-toggle="collapse" data-target="#navbar" aria-expanded="false" role="navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Username</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="#intro" class="active"><a href="/">Home</a></li>
            <li id="#about"><a href="/pb">P&Bs</a></li>
            <li id="#portfolio"><a href="/strategy">Strategy</a></li>
            <li id="#contact"><a href="/data">Data</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>