<link rel='stylesheet' href='/stylesheets/navigation.css' />
<nav id="topMenu">
  <button onclick="window.location='/'" class="topMenuButton">Home</button>
  <button onclick="window.location='/pb'" class="topMenuButton">P&Bs</button>
  <button onclick="window.location='/map'" class="topMenuButton">Map</button>
  <button onclick="window.location='/data'" class="topMenuButton">Data</button>
</nav>