<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include ./partials/navigation.ejs %>

  	<div id="content" class="container-fluid">

  	</div>

    <% include ./partials/scripts.ejs %>

	<script type="text/javascript" src="/javascripts/resize.js"></script>
  </body>
</html>
