<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pb.css' />
  </head>
  <body>

  <% include ./partials/navigation.ejs %>
  
    <div class="container" id="content">

        <div class="pbColumn noselect" id="leftTeamColumn">
          <div class="window pickBox leftPickBox" id="leftBanBox"><p class="boxTitle">Bans</p>
            <div class="banIcon" id="pick0"></div>
            <div class="banIcon" id="pick2"></div>
            <div class="banIcon" id="pick11"></div>
          </div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name4"></p><div class="pickIcon" id="pick4"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name7"></p><div class="pickIcon" id="pick7"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name8"></p><div class="pickIcon" id="pick8"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name13"></p><div class="pickIcon" id="pick13"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name14"></p><div class="pickIcon" id="pick14"></div></div>

        </div>  <!-- ~~~~~~~~~~ leftTeamColumn ~~~~~~~ -->

        <div class="pbColumn noselect" id="middleColumn">
          <div class="window" id="statusWindow"></div>
          <div class="window" id="godsWindow">
          </div>

          <div class="noselect window" id="buttonWindow">
           <button class="noselect button" id="undoButton">Undo</button>
           <button class="noselect button" id="lockButton">Lock<br>(spacebar)</button>
           <button class="noselect button" id="resetButton">Reset</button>
          </div>

        </div>  <!-- ~~~~~~~~~ middle column ~~~~~~~~~~ -->

        <div class="pbColumn noselect" id="rightTeamColumn">
          <div class="window pickBox rightPickBox" id="rightBanBox"><p class="boxTitle">Bans</p>
            <div class="banIcon" id="pick1"></div>
            <div class="banIcon" id="pick3"></div>
            <div class="banIcon" id="pick10"></div>
          </div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name5"></p><div class="pickIcon" id="pick5"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name6"></p><div class="pickIcon" id="pick6"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name9"></p><div class="pickIcon" id="pick9"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name12"></p><div class="pickIcon" id="pick12"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name15"></p><div class="pickIcon" id="pick15"></div></div>
        </div> <!-- ~~~~~~~~~~ RightTeamColumn ~~~~~~~ -->

        <div class="pbColumn" id="settingsColumn">

          <div class="window" id="notesWindow">
            <p class="boxTitle" id="notesName">Notes</p>

              <textarea class="window" id="notesInput" placeholder="(Enter notes)"></textarea>

          </div>
          
          <div>
            <p class="boxTitle" id="collectionName">Album: </p>
            <select id="collectionInput">
            </select>
            <div class="button" id="collectionAddButton"><i class="fa fa-plus"></i></div>
          </div>
          
          <div>
            <p class="boxTitle" id="draftName">Draft Name: </p>
            <input id="draftNameInput" type="text"></input>
          </div>
          
          <button class ="noselect button" id="saveButton">Save</button>
          <button class ="noselect button" id="loadButton">View Saves</button>
        </div>

        

    </div> <!-- ~~~~~ content ~~~~~ -->

<!-- ======= view saves menu ======== -->
  <div id="viewSavesWindow">
    <div id="viewSavesHeader">
      <h1>(press esc to exit)</h1>
      <select id="albumFilter">

        <option>All</option>

      </select>
    </div>
    <ul id='saveSelectorWindow'>
    </ul>
  </div>
<!-- ================================= -->

<!-- ==== TEMPLATES ==== -->
<script type="template" id="saveIconTemplate">
  <li>
    <div class="saveIcon" id="{{id}}" title="{{notes}}">
      <i class="fa fa-trash-o deleteSaveButton"></i>
      <p class="saveIconTitle">{{title}}</p>
      <div>
        <div class="saveIconBans">
          {{#team1Bans}} <img src="/images/godicons/{{.}}.png"> {{/team1Bans}}
        </div>
        <div class="saveIconBans" style="float:right">
          {{#team2Bans}}<img src="/images/godicons/{{.}}.png"> {{/team2Bans}}
        </div>
      </div>

      <div class="saveIconPicks" id="saveIconPicksLeft">
        {{#team1Picks}} <img src="/images/widegodicons/W{{.}}.png"> {{/team1Picks}}
      </div>

      <div class="saveIconPicks" id="saveIconPicksRight">
        {{#team2Picks}} <img src="/images/widegodicons/W{{.}}.png"> {{/team2Picks}}
      </div>

    </div>
  </li>

</script>
<!-- ======================= -->

    <% include ./partials/scripts.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/pbModule.js"></script>
    <script type="text/javascript" src="/javascripts/resize.js"></script>

  </body>
</html>

<!-- 
<div class="button godBox" id="{{godName}}">
      <img src="/images/godicons/' +{{godName}}+ '.png"/>
    </div> -->