<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pb.css' />
  </head>
  <body>
    <div id="content">

  	    <% include ./partials/navigation.ejs %>


        <div class="pbColumn" id="leftTeamColumn"> </div> <!-- ~~~~~~~~~~ leftTeamColumn ~~~~~~~ -->


        <div class="pbColumn" id="RightTeamColumn"> </div> <!-- ~~~~~~~~~~ RightTeamColumn ~~~~~~~ -->

    </div> <!-- ~~~~~ content ~~~~~ -->

      <% include ./partials/scripts.ejs %>

	 <!--<script type="text/javascript" src="/javascripts/resize.js"></script> -->

  </body>
</html>
