<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pb.css' />
  </head>
  <body>

  <% include ./partials/navigation.ejs %>
  
    <div class="container" id="content">

        <div class="pbColumn noselect" id="leftTeamColumn">
          <div class="window pickBox leftPickBox" id="leftBanBox"><p class="boxTitle">Bans</p>
            <div class="banIcon" id="pick0"></div>
            <div class="banIcon" id="pick2"></div>
            <div class="banIcon" id="pick11"></div>
          </div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name4"></p><div class="pickIcon" id="pick4"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name7"></p><div class="pickIcon" id="pick7"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name8"></p><div class="pickIcon" id="pick8"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name13"></p><div class="pickIcon" id="pick13"></div></div>
          <div class="window pickBox leftPickBox"><p class="boxTitle pickName" id="name14"></p><div class="pickIcon" id="pick14"></div></div>

        </div>  <!-- ~~~~~~~~~~ leftTeamColumn ~~~~~~~ -->

        <div class="pbColumn noselect" id="middleColumn">
          <div class="window" id="statusWindow"></div>
          <div class="window" id="godsWindow">
          </div>

          <div class="noselect window" id="buttonWindow">
           <button class="noselect button" id="undoButton">Undo</button> 
           <button class="noselect button" id="lockButton">Lock<br>(spacebar)</button>
           <button class="noselect button" id="resetButton">Reset</button>
          </div>

        </div>  <!-- ~~~~~~~~~ middle column ~~~~~~~~~~ -->

        <div class="pbColumn noselect" id="rightTeamColumn">
          <div class="window pickBox rightPickBox" id="rightBanBox"><p class="boxTitle">Bans</p>
            <div class="banIcon" id="pick1"></div>
            <div class="banIcon" id="pick3"></div>
            <div class="banIcon" id="pick10"></div>
          </div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name5"></p><div class="pickIcon" id="pick5"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name6"></p><div class="pickIcon" id="pick6"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name9"></p><div class="pickIcon" id="pick9"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name12"></p><div class="pickIcon" id="pick12"></div></div>
          <div class="window pickBox rightPickBox"><p class="boxTitle pickName" id="name15"></p><div class="pickIcon" id="pick15"></div></div>
        </div> <!-- ~~~~~~~~~~ RightTeamColumn ~~~~~~~ -->

        <div class="pbColumn" id="settingsColumn"></div>

    </div> <!-- ~~~~~ content ~~~~~ -->
  

    <% include ./partials/scripts.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/pbModule.js"></script>
    <!--<script type="text/javascript" src="/javascripts/resize.js"></script>-->

  </body>
</html>

<!-- 
<div class="button godBox" id="{{godName}}">
      <img src="/images/godicons/' +{{godName}}+ '.png"/>
    </div> -->