html,
body {
  height: 100%;
  width:100%;
  margin: auto;

}

.window {
	
	border: .3vh solid rgba(10,25,25,.7);
	border-radius:3px;
}

.button {
	border: 5px outset gray;
	border-radius:5px;
}

.buttonPressed{
	border-style: inset;
}

#content{

	height:95%;
	width:95%;

	margin-left: auto;
	margin-right: auto;
	margin-top:1%;
}

.pbColumn{
	height:100%;
	background-color:rgba(30,40,55,.8);
	display:inline-block;
	float:left;
	padding-left:1%;
	padding-right:1%;
	border:2px solid #2D3B4A;
}

#leftTeamColumn{

	width:15%;
}

#rightTeamColumn{


	width:15%;
}

#middleColumn {
	width:50%;
	border-left:0;
	border-right:0;
}

.pickBox{
	height:15%;
	width:100%;
	margin-top:6%;
	border-radius: 3px;
}

.pickIcon{
	height:75%;
	width:100%;
	background-color: rgba(255,255,255, .1);
	border-radius: 3px;
}
.pickIcon img {
	height:100%;
	width:100%;
	border-radius:3px;
}
.banIcon{
	border-radius:3px;
	margin-top:4%;
	display:inline-block;
	height:55%;
	width:31%;
	background-color: rgba(255,255,255, .1);
}

.unavailable{
	opacity: .2;
}

.nextPick {
	background-color: rgba(255,255,255, .4);
}

.banIcon img{
	height:100%;
	width:100%;
	border-radius:3px;
}

.leftPickBox{
	background-color: rgb(40,50,120);
}
.rightPickBox{
	background-color: rgb(100,40,30);
}


#statusWindow{
	position:relative;
	width:100%;
	height:8%;
	top: 2%;
	background-color:rgba(0,0,0,.2);
}

#godsWindow{
	width:100%;
	height:65%;
	margin-top:4%;
	padding:1%;
	overflow-y:scroll;
	background-color:rgba(0,0,0,.3);
}

.godBox{
	display:inline-block;
	margin:3px;
	width:78px;
	height:78px;
	background-color:gray;
	
}
.selected {
	border: 5px outset yellow;
}

.button:hover{
	cursor: pointer;
}

.godBox img {
	width:100%;
	height:100%;
	opacity:1;
}

#buttonWindow{
	height:20%;
	width:100%;
	margin-top:2%;
	background-color:rgba(0,0,0,.2);
}

.boxTitle{
	height:25%;
	font: 3vh "Josefin", sans-serif;
	color:rgb(180,180,180);
	

	border-radius:3px;
	padding-left:3%;
	border-bottom:.2vh solid rgb(120,130,140);
}

#settingsColumn{
	width:20%;
	border-left:0;
}

#lockButton {
	position:relative;
	top:20%;
	left:25%;
	height:40%;
	width:20%;
	margin:auto;
}

#resetButton{
	position:relative;
	top:20%;
	height:30%;
	width:15%;
	float:right;
}

#undoButton{
	position:relative;
	top:20%;
	height:30%;
	width:15%;
	float:left;
}

#notesWindow{
	width:100%;
	height:60%;
	margin:auto;
	margin-top:5%;
	background-color:rgba(0,0,0,.3);
}
#saveButton{
	height:8%;
	width:40%;
}
#loadButton{
	height:8%;
	width:40%;
	float:right;
	margin:auto;
}
#notesName{
	height:7%;
}
#notesInput{
	background-color:rgba(0,0,0,0);
	min-width:100%;
	min-height:93%;
	max-width:100%;
	max-height:90%;
	border-radius: 3px;
	border:none;
	color:rgb(180,180,180);
	font: 2vh "Lucida Grande", Helvetica, Arial, sans-serif;
}
#draftName{
	height:5%;
	background-color:rgba(0,0,0,.3);
}
#draftNameInput{
	width:100%;
	height:4%;
	font: 2vh "Lucida Grande", Helvetica, Arial, sans-serif;
}
#collectionName{
	height:5%;
	background-color:rgba(0,0,0,.3);
}
#collectionInput{
	width:82%;
	height:4%;
	font: 2vh "Lucida Grande", Helvetica, Arial, sans-serif;
}
#collectionAddButton{
	width:15%;
	height:4%;
	font: 2vh "Lucida Grande", Helvetica, Arial, sans-serif;
}